{{- $email := promptString "email" -}}
{{- $codeDir := promptString "Full path of directory for storing source code (no trailing slash)" -}}
[data]
    email = "{{ $email }}"
    codeDir = "{{ $codeDir }}"
